<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main Dashboard</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h4>Vending Tracks</h4>
  </header>

  <!-- Navigation bar, links to "Home" and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/Home">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vending/all">All Machines</a>
    <a href="/client">Account</a>
  </nav>

  <!-- Content Section, this has all the main elements we want to display -->
  <main>
  <h1>Registered Machines</h1>
  <p>
    <a href="/vending/add">Add Machine</a>
  </p>
  <hr>
  <!-- First table, connect to the results that sum the amount of items
  out of stock for each vending machine -->
  <h2>Items Out Of Stock</h2>
  <table>
    <tr>
      <th>Vending Machine</th>
      <th>Item Amount</th>
    </tr>
    <% outOfStockSummary.forEach(item => { %>
      <tr>
        <td><a href="/vending/dashboard/<%= item.vendingMachine._id %>"><%= item.vendingMachine.model %></a></td>
        <td><%= item.itemCount %></td>
      </tr>
    <% }) %>
  </table>

  <hr>
  <!-- Second table, connect to the results that sum the amount of issues
  that have been reported for each vending machine -->
  <h2>Maintanence Problems</h2>
  <table>
    <tr>
      <th>Vending Machine</th>
      <th>Item Amount</th>
    </tr>
    <% maintenanceSummary.forEach(issue => { %>
      <tr>
        <td><a href="/vending/dashboard/<%= issue.vendingMachine._id %>"><%= issue.vendingMachine.model %></a></td>
        <td><%= issue.itemCount %></td>
      </tr>
    <% }) %>
  </table>
  <!-- Default will be either empty list or message 
  saying "no machines reported" -->
  <hr>
  <h2>Sales Lost</h2>
  <p>
    A stacked bar plot that has the number of surveys divided by 
    the month. [note: restock periods will be different for each 
    machine, so have another similar plot for teh vending dashboard.
    Stacks here still items and problems]
  </p>
  <hr>
</main>

</body>
</html>