<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vending Dashboard</title>
  <!-- Link to external CSS file -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<!-- 
    This dashboard will be populated depending on which
    vending machine was chosen. Most of the base text on
    this page will be default text in case of connection issues
 -->
<body>
  <!-- Header, Should be uniform between all the pages -->
  <header>
    <h1>Vending Tracks</h1>
  </header>
  <!-- Navigation bar, links to "Home", dashboard and "Login"/"Account Dashboard" -->
  <nav class="menu">
    <a href="/Home">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/vendingAll">All Machines</a>
    <a href="/client">Account</a>
  </nav>

  <!-- Content Section, this has all the main elements we want to display -->
  <main>
  <h1>Machine Name</h1>
  <a href="/vendingEdit">Edit Machine Information</a>
  <p>Location: <%= vendingMachine.location.address %></p>
  <p>Model: <%= vendingMachine.model %></p>
  <p>Status: <%= vendingMachine.status %></p>
  <hr>
  <h2>QR Code</h2>
  <div>
    <img src="<%= qrCode %>" alt="QR Code">
    <button onclick="printQRCode('<%= vendingMachine._id %>')">Print QR Code</button>
  </div>

  <hr>
<!-- First table, connect to the results that sum the amount of items out of stock for each vending machine -->
<h2>Items Out Of Stock</h2>
<table>
  <tr>
    <th>Item</th>
    <th>Times Reported</th>
  </tr>
  <% outOfStockItems.forEach(item => { %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.count %></td>
  </tr>
  <% }) %>
</table>

<hr>
 <!-- Second table, connect to the results that sum the amount of issues that have been reported for each vending machine -->
 <h2>Maintenance Problems</h2>
 <table>
   <tr>
     <th>Issue</th>
     <th>Times Reported</th>
   </tr>
   <% maintenanceIssues.forEach(issue => { %>
   <tr>
     <td><%= issue.name %></td>
     <td><%= issue.count %></td>
   </tr>
   <% }) %>
 </table>
  </div>
  <script>
    function printQRCode(machineId) {
      const printWindow = window.open(`/vending/generateQRCode/${machineId}`, 'Print QR Code', 'width=600,height=600');
      printWindow.addEventListener('load', function() {
        printWindow.print();
      }, true);
    }
  </script>
</main>
</body>
</html>